<%- include('partials/header') %>


<div class="MainBox">
  <div class="TopBox">
    <h1>SkillBook</h1>
    <p>For the skills that matter... <i class="fas fa-paint-brush"></i></p>
  </div>
  <div class="BottomBox">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </div>
</div>


<%- include('partials/footer') %>
