<%- include('partials/header') %>
<div class="MainBox">
  <h1>Login</h1>
  <form class="" action="/login" method="post">
    <input type="email" name="username" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Login</button>
  </form>
  <div class="divider">

  </div>
  <div class="social">
    <p style = "font-size: 2rem">Or sign in with</p>
    <a href="/auth/github"><i class="fab fa-github"></i></a>
    <a href="/auth/google"><i class="fab fa-google"></i></a>
  </div>
</div>
<%- include('partials/footer') %>
